@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    color: #191919;
    font-family: Ubuntu, Arial;
    font-weight: 400;
    background-color: #B3B3B3;
    font-size: 16px;
}

/* Repeatables */
.section-heading {
    border-top: 0.5rem solid #3e3e3e;
    border-bottom: 0.2rem solid #3e3e3e;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.fitlife-btn {
    background: rgba(231, 79, 13, 0.66);
    color: #191919;
    text-align: center;
    border: 1px solid #000;
    border-radius: 2.5rem;
    box-shadow: 0.2rem -0.2rem 0.2rem 0.1rem #000;
    text-decoration: 0;
}

.fitlife-btn:hover {
    background: #E74F0D;
    color: #d3d3d3;
    text-decoration: 0;
}

/* Navigation */
.navbar {
    background-color: #191919;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 700;
    color: #E74F0D;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 1rem;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #FB8D2C;
}

.navbar .navbar-toggler {
    border-color: #E74F0D;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
}

.navbar .navbar-toggler .fa-bars {
    font-size: 3rem;
    color: #E74F0D;
}

.navbar-nav {
    text-align: right;
    padding-right: 2rem;
}

.nav-link {
    font-weight: 500;
    text-decoration: none;
    color: #E74F0D;
}

.nav-link:hover {
    text-decoration: none;
    color: #FB8D2C;
}

/* Hero-image */
#hero-container {
    height: 100vh;
    min-height: 40rem;
    background: url("../images/gym-group-hero.jpg") no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero-text {
    color: #191919;
    border: 1px solid #191919;
    text-align: center;
    margin-top: -10rem;
    background-color: rgba(231, 79, 13, 0.66);
    max-width: 95vw;
    padding: 2.5rem 3.5rem;
    border-radius: 2.5rem;
}

.hero-text>h1 {
    font-size: 3rem;
}

.hero-signup-btn {
    font-size: 5rem;
    width: 24rem;
    height: 12rem;
    padding: 1.5rem;

    position: absolute;
    bottom: 10vh;
    right: 10vw;
}

/* About */
#about {
    min-height: 60vh;
}

.about-image-container {
    background-size: cover;
}

.about-image {
    background: url(../images/about-image.jpg) no-repeat center top;
    background-size: cover;
    border: 1px solid #191919;
    min-height: 30rem;
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.about-heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about-piece {
    margin-bottom: 2rem;
}

.about-piece p {
    border-top: 0.5px solid #3e3e3e;
    border-bottom: 0.5px solid #3e3e3e;
    border-radius: 2.5rem;
    /*     margin: 0 2rem 0 2rem; */
    padding: 2rem;
}

/* Reviews */
.review-image {
    height: 10rem;
    width: 10rem;
    border-radius: 2.5rem;
}

.media {
    border-top: 0.5px solid #3e3e3e;
    border-bottom: 0.5px solid #3e3e3e;
    border-radius: 2.5rem;
    padding: 2.5rem;
    margin: 3rem 0;
}

/* Subscriptions */
#sub {
    border-bottom: 0.5rem solid #3e3e3e;
}

.sub-card {
    background-color: rgb(207, 207, 207);
    height: 35rem;
    width: 25rem;
    border: 3px solid #191919;
    border-radius: 2.5rem;
    padding: 1.5rem;
    margin: 2rem auto 2rem auto;
    text-align: center;
    box-shadow: 0.5rem -0.5rem 0.5rem 0.1rem #E74F0D;

    position: relative;
}

.sub-card-header {
    height: 7.5rem;
}

.sub-card-header p {
    font-weight: bold;
}

.sub-card-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sub-card i {
    font-size: 2.5rem;
    color: #E74F0D;
    animation: blinker 1.5s ease-out infinite;
}

@keyframes blinker {
    50% {
        color: #FB8D2C;
        opacity: 100%;
    }
}

.sub-feature {
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    text-align: left;
    height: 9rem;

}

.sub-price {
    font-weight: bold;
}

.sub-btn {
    width: 10rem;
    font-weight: 500;

    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Sign-up Form */
.form-container {
    height: 32rem;
    min-height: 52.5rem;
    background: url("../images/sign-up-background.jpg") no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.form-jumbotron {
    background-color: rgba(62, 62, 62, 0.66);
    border: 0.5rem solid #191919;
    max-width: 40rem;
    height: 50rem;

    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    padding: 2.5rem;
    border-radius: 2.5rem;
}

.form-header {
    color: #E74F0D;
    text-align: center;
    font-size: 4rem;
    border-bottom: 3px solid #191919;
    border-radius: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem;
}

.form-input {
    background: transparent;
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem 0 2rem 0;
    border: 2px solid #191919;
    border-radius: 1rem;
    padding: 0.5rem;
}

.form-input:hover,
.form-input:focus {
    border-color: #E74F0D;
    outline-style: none;
    box-shadow: 0 0 0 1px #E74F0D;
}

.form-input::placeholder {
    color: #E74F0D;
}

.sub-term {
    color: #E74F0D;
    font-size: 1.5rem;
}

.form-sub-options {
    text-align: center;
    color: #E74F0D;
    display: flex;
    justify-content: space-evenly;
}

.form-btn {
    width: 17.5rem;
    height: 5rem;
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}


/* Gallery */
.gallery-image {
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #191919;
    min-height: 20rem;
    margin: 1.5rem 0rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #191919;
}

#gallery-image-1 {
    background-image: url(../images/gallery-image-1.jpg);
}

#gallery-image-2 {
    background-image: url(../images/gallery-image-2.jpg);
}

#gallery-image-3 {
    background-image: url(../images/gallery-image-3.jpg);
}

#gallery-image-4 {
    background-image: url(../images/gallery-image-4.jpg);
}

#gallery-image-5 {
    background-image: url(../images/gallery-image-5.jpg);
}

#gallery {
    position: relative;
    padding-bottom: 5rem;
}

.gallery-btn {
    font-weight: 500;
    width: 12rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

/* Contact */
.contact-details {
    background-color: rgb(207, 207, 207);
    text-align: center;
    height: 27.5rem;
    width: 25rem;
    border: 3px solid #191919;
    border-radius: 2.5rem;
    padding: 1.5rem;
    margin: 2rem auto 2rem auto;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #191919;
}

.contact-type {
    font-weight: bold;
    text-decoration: 2px underline;
    margin-top: 1rem;
    display: block;
}

.contact-info {
    display: block;
}

/* Footer */
#footer-section {
    border-top: 0.5rem solid #3e3e3e;
    margin-top: 2rem;
    justify-content: center;
    height: 3rem;
}

.footer-items {
    text-align: center;
    padding: 0;
}

.footer-items>li {
    display: inline-block;
    padding: 0 2.5%;

}

.footer-items .fab {
    font-size: 4rem;
    margin: auto;
    padding: 5px;
    color: #191919;
}

.footer-items .fab:hover {
    color: #3e3e3e;
}

/* Media Queries */
@media screen and (min-width: 576px) {

    /* Hero-image */
    .hero-text>h1 {
        font-size: 3.5rem;
    }

    /* Sign-up Form */
    .form-container {
        height: 100vh;
    }

    .form-jumbotron {
        bottom: 20%;
    }

    .form-header {
        font-size: 5rem;
    }

    /* Contact */
    .contact-details {
        max-width: 50rem;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {

    /* Hero-image */
    .hero-text>h1 {
        font-size: 4rem;
    }

    /* About */
    .about-heading {
        text-align: left;
        margin-left: 4rem;
    }

    /* Review */
    .media {
        min-height: 19rem;
        padding-bottom: 0;
    }

    /* Sign-up Form */
    .form-jumbotron {
        height: 45rem;
        max-width: 40rem;
        right: 10%;
        bottom: 30%;
    }
}

@media screen and (min-width: 992px) {

    /* About */
    .about-image {
        background-position: 70% 50%;
        margin-bottom: 0;
        height: 56rem;
        width: auto;
        margin: 2rem 2rem 0 2rem;
    }

    /* Review */
    .media {
        min-height: 15rem;
    }
}

@media screen and (min-width: 1200px) {

    /* About */
    .about-image {
        background-position: 70% 50%;
        margin-bottom: 0;
        height: 51rem;
        width: auto;
    }

    /* Sign-up Form */
    .form-jumbotron {
        right: 20%;
    }
}

@media screen and (min-width: 1440px) {

    /* Sign-up Form */
    .form-jumbotron {
        right: 25%;
    }

}