/* Call-out */
.callout-container {
    height: 90vh;

    background: url("../images/gym-group_hero.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.4)
}