body {
    font-family: Arial, Helvetica, sans-serif;

}

.section-heading {
    font-size: 35px;
    color: slategray;
}

/* Call-out */
.callout-container {
    height: 95vh;
    background: url("../images/gym-group_hero.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -200px;
}

/* About */

.about-image-container {
    border: 5px solid red;
    background-size: cover;
}

.about-image {
    background: url(../images/about_image_b.jpg) no-repeat center center;
    background-size: cover;
    min-height: 25rem;
}


/* Gallery */

.gallery-image-container {
    /*     display: flex;
    justify-content: center;
    
    overflow: hidden; */
}

.gallery-image {
    flex: 1;
    /*     
     justify-content: center;
    align-items: center; */
    object-fit: cover;
    width: 12em;
    height: 10rem;
    overflow: hidden;
    margin: 1rem;

}

/* Contact */

.contact-container {
    max-width: fit-content;
}

.contact-details {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

/* Footer */

footer {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}